#include <winver.h>
#include "version.h"

VS_VERSION_INFO		VERSIONINFO
  FILEVERSION		SOXRATE_VERSION_RC
  PRODUCTVERSION	SOXRATE_VERSION_RC
  FILEFLAGSMASK		VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS		1
#else
  FILEFLAGS		0
#endif
  FILEOS                VOS__WINDOWS32
  FILETYPE		VFT_DLL
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    //language ID = U.S. English, char set = Windows, Multilingual
    BEGIN
      VALUE "FileDescription",	"SoX rate converter library.\0"
      VALUE "FileVersion",	SOXRATE_VERSION_STRING
      VALUE "InternalName",	"libsoxrate.dll\0"
      VALUE "LegalCopyright",	"(C) 2008 Rob Sykes, (C) 2011 nu774\0"
      VALUE "OriginalFilename",	"libsoxrate.dll\0"
      VALUE "ProductName",	"libsoxrate\0"
      VALUE "ProductVersion",	SOXRATE_VERSION_STRING
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
